:root {
  --primary: #271771;
  --secondary: #5f3393;
  --thirdary: #a442ad;
  --field: #f8f8f8;
  --accent: #e11f50;
}

body {
  margin: 0;
  background: var(--primary);
  color: var(--field);
  font-family: "montserrat";
}

.main-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.main-title h1 {
  font-weight: bold;
  font-size: 50px;
}

main {
  position: relative;
  border-radius: 15px;
  margin-top: 145px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  background-color: var(--secondary);
}

.aside-main {
  width: 70%;
  padding: 2rem;
  padding-right: 3rem;
}

.aside-hasil {
  outline: 15px solid var(--primary);
  border-radius: 15px;
  padding: 35px;
  width: 50%;
}

article, section{
  text-align: justify;
}

form {
  
}

.gender-option img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}

.gender-text {
  font-size: 12px;
}

.gender-option input[type="radio"] {
  display: none;
}

.gender-option input[type="radio"]:checked + img {
  filter: brightness(50%);
}

.input-data input {
  width: 95%;
  height: 10px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 14px;
}

.input-data input:focus {
  outline: none;
}


input, textarea {
  color: var(--secondary);
}

.btn-hitung {
  border: none;
  height: 50px;
  width: 100px;
  color: #f8f8f8;
  background-color: #31d305;
  border-radius: 25px;
  padding: 10px;
  margin-top: 35px;
}

.btn-hitung:hover {
  color: #f8f8f8;
  background-color: #2aa608;
  cursor: pointer;
}

.btn-reset {
  border: none;
  height: 50px;
  width: 100px;
  color: #f8f8f8;
  background-color: #df0c0c;
  border-radius: 25px;
  padding: 10px;
  margin-left: 15px;
}

.btn-reset:hover {
  color: #f8f8f8;
  background-color: #bc1010;
  cursor: pointer;
}

.gender-option {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.info-bmi {
  margin-top: 50px;
}

section h2 {
  text-align: center;
}

.hasil-bmi {
  margin: 25px;
  padding: 25px;
  border-radius: 14px;
  background-color: var(--thirdary);
  text-align: center;
}

.nilai-bmi {
  font-size: 30px;
  font-weight: bold;
}

.kategori-bmi {
  margin: 10px;
}

.output-bmi {
  font-size: 30px;
  font-weight: bold;
}

.saran-bmi {
  margin: 25px;
  padding: 25px;
  border-radius: 14px;
  background-color: var(--thirdary);
  text-align: center;
}

.btn-konsul {
  width: 250px;
  height: 50px;
  margin-left: 25px;
  border-radius: 25px;
  background-color: var(--accent);
  color: var(--field);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.reminder {
  margin: 75% 35px 35px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: var(--thirdary);
}

footer p {
  text-align: center;
  font-style: italic;
}