:root {
  --primary: #4793AF;
  --secondary: #FFC470;
  --thirdary: #f8f8f8;
  --field: #8B322C;
  --accent: #DD5746;
}

body {
  margin: 0;
  background: var(--primary);
  color: var(--thirdary);
  font-family: "poppins";
}

.main-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--thirdary);
}

.main-title h1 {
  font-weight: bold;
  font-size: 50px;
}

main {
  position: relative;
  margin-top: 145px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
}

aside {
  width: 50%;
}

.aside-hasil, .aside-main {
  padding: 2rem ;
  
}

.aside-hasil {
  border-radius: 0px 15px 15px 0px;
  background-color: var(--secondary);
}

.aside-main {
  border-radius: 15px 0px 0px 15px;
  background-color: var(--accent);
}

article, section{
  text-align: justify;
}

#bmi-form {
  color: var(--field);
  background-color: var(--thirdary);
  border-radius: 15px;
  padding: 2rem 3rem;
}

.gender-option {
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.gender-option p {
  margin: 0;
}

.gender-option img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s;
  box-shadow: 3px 3px var(--field);
}

.gender-option input[type="radio"] {
  display: none;
}

.gender-option input[type="radio"]:checked + img {
  filter: brightness(50%);
}

.input-data {
  margin-top: 10px;
}

.input-data label {
  font-weight: bold;
}

.input-data input {
  width: 95%;
  height: 10px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: 3px 3px var(--field);
}

.input-data input:focus {
  outline: none;
}

input, textarea {
  font-weight: bold;
  color: var(--field);
}

.btn-hitung, .btn-reset {
  border: none;
  height: 50px;
  width: 100px;
  color: #f8f8f8;
  border-radius: 25px;
  padding: 10px;
  margin-top: 35px;
  cursor: pointer;
}

.btn-hitung {
  background-color: #31d305;
  box-shadow: 3px 3px #208005;
}

.btn-hitung:hover {
  background-color: #2aa608;
}

.btn-reset {
  margin-left: 20px;
  background-color: #df0c0c;
  box-shadow: 3px 3px #8c0a0a;
}

.btn-reset:hover {
  background-color: #bc1010;
}

.info-bmi {
  margin-top: 50px;
}

#hasil {
  text-align: center;
  color: var(--field);
  background-color: var(--thirdary);
  border-radius: 15px;
  padding: 1rem;
  margin: 35px;
}

#hasilBMI, #kategoriBMI {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.reminder {
  margin: 20px;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  background-color: var(--thirdary);
  color: var(--field);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .aside-hasil, .aside-main {
        width: 100%;
        margin-bottom: 20px;
    }
}

footer p {
  text-align: center;
  font-style: italic;
}
