body {
  margin: 0;
  background: #1c517c;
  color: #f8f8f8;
  font-family: "montserrat";
}

.main-title {
  font-style: bold;
  text-align: center;
}

main {
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  background-color: #41aea5;
}

aside {
  padding: 35px;
}

article, section{
  text-align: justify;
}

form {
  
}

.gender-option {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.gender-option img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.gender-option input[type="radio"] {
  display: none;
}

.gender-option input[type="radio"]:checked + img {
  border: 2px solid blue;
}
